<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/CSS/style.css"/>
    </head>
    <body>

        <a href="/home"> Home</a>
        <a href="/projects"> Projects </a>
        <a href="/contact"> Contact </a>
        <h1>Contact</h1>
        <form action="/action_page.php">
            Full Name: <input type="text" name="fname"><br>
            Email: <input type="text" name="lname"><br>
            Phone: <input type="text" name="lname"><br>
            Message: <input type="text" name="lname" style="height:50px;width:300px"><br>
            <input type="submit" value="Submit">
        </form>

    </body>
</html>